<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Flaredhispana.org%2Fwp-content%2Fuploads%2F2022%2F03%2Fcritomonedas-que-son.jpg&tbnid=DqkDO23TTM8tjM&vet=12ahUKEwjM8Ya8x8f-AhX7rJUCHQGqDYEQMygmegUIARCvAg..i&imgrefurl=https%3A%2F%2Flaredhispana.org%2Flifestyle%2Ftecnologia%2Ftodo-lo-que-debes-saber-sobre-las-criptomonedas&docid=TyND22F9R6srLM&w=859&h=517&q=criptomonedas&ved=2ahUKEwjM8Ya8x8f-AhX7rJUCHQGqDYEQMygmegUIARCvAg" />
    <title>crypto-scraper</title>
    <script defer src="/_vercel/insights/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body style="background-color: #084887;">
    <h1 style="text-align: center; color: #fff;">Cotizaciones importantes</h1>
    <br>
    <h2 style="text-align: center; color: #fff;">Cotizaci칩n dolar</h2>
    <ul  style=" display:flex; justify-content: center; flex-wrap: wrap;margin-left: -30px;">
      <li style="list-style-type: none; border: 1px solid #084887;;border-radius: 5px; margin: 12px; padding: 8px; width: 260px; background-color: #ebebeb; text-align: center;"><%= dolar %> <br> <%= oficial %></li>
      <li style="list-style-type: none; border: 1px solid #084887;;border-radius: 5px; margin: 12px; padding: 8px; width: 260px; background-color: #ebebeb; text-align: center;"><%= dolar2 %><br> <%= blue %></li>
    </ul>
    <br>
    
    <h2 style="text-align: center; color: #fff;">Criptomonedas</h2>
<ul style=" display:flex; justify-content: center; flex-wrap: wrap; margin-left: -30px;" >
    <% for (let i = 0; i < data.length; i++) { %>
      <li  style="list-style-type: none; border: 1px solid #084887;;border-radius: 5px; margin: 12px; padding: 8px; width: 260px; background-color: #ebebeb;">
        <h2 class="card" style="text-align:center; font: bolder;"><%= data[i].name %></h2>
        <p  style="margin-left: 5px;">Valor: <span class="valor"><%= data[i].price %></span></p>
        <p style="margin-left: 5px;">Cambio en la 칰ltima hora: <span class="change-icon-1h"><%= data[i].change_1h_icon %></span> <span class="my-text-1h"><%= data[i].change_1h %></span></p>
        <p style="margin-left: 5px;">Cambio en los 칰ltimos 7 d칤as: <span class="change-icon-7d"><%= data[i].change_7d_icon %></span>  <span class="my-text-7d"><%= data[i].change_7d %></span></p>
      </li>
    <% } %>
  </ul>

  <form style="display: block; justify-content: center; text-align: center;margin: auto; background-color: #ebebeb; padding: 8px; max-width: 300px;border-radius: 5px;">
    <h2>Monitoreo de criptomonedas</h2>
    <label for="opcion" style="text-align: center; margin: 15px;">Seleccione una opci칩n:</label><br>
    <select id="opcion">
      <% for (let i = 0; i < data.length; i++) { %>
        <option style="color: black;" data-precio="<%= data[i].price %>"><%= data[i].name %></option>
      <% } %>
    </select>
    <br>
    <label for="maximo">Ingrese el valor m치ximo:</label><br>
    <input style="text-align: center;" type="number" id="maximo" placeholder="valor a mopnitorear">
    <br>
    <br>
    <button style="color:black;" type="button" onclick="guardarSeleccion()">Guardar</button>
  </form>

  
</body>
<script>
let criptomonedaSeleccionada = null;
let valorMaximoSeleccionado = null;

function guardarSeleccion() {
  const opcionSeleccionada = document.getElementById("opcion").value;
  const maximoSeleccionado = document.getElementById("maximo").value;
  localStorage.setItem("criptomonedaSeleccionada", opcionSeleccionada);
  localStorage.setItem("valorMaximoSeleccionado", maximoSeleccionado);
  criptomonedaSeleccionada = opcionSeleccionada;
  valorMaximoSeleccionado = parseFloat(maximoSeleccionado);
  console.log(`Se ha seleccionado la criptomoneda ${opcionSeleccionada} con un valor m치ximo de ${maximoSeleccionado}`);
}

function monitorear() {
  if (!criptomonedaSeleccionada || !valorMaximoSeleccionado) {
    criptomonedaSeleccionada = localStorage.getItem("criptomonedaSeleccionada");
    valorMaximoSeleccionado = parseFloat(localStorage.getItem("valorMaximoSeleccionado"));
    console.log(`Se han recuperado la criptomoneda ${criptomonedaSeleccionada} y el valor m치ximo ${valorMaximoSeleccionado} del localStorage`);
  }
  
  const opcionSeleccionada = document.getElementById("opcion");
  const precio = opcionSeleccionada.options[opcionSeleccionada.selectedIndex].getAttribute("data-precio");
  const precioNumero = parseFloat(precio.replace(/[^0-9.,]/g, '').replace(',', '.'));

  if (precioNumero >= valorMaximoSeleccionado) {
   
    Swal.fire(
      'ALERTA',
      `La criptomoneda ${criptomonedaSeleccionada} ha superado el valor m치ximo de ${valorMaximoSeleccionado}. Precio actual: ${precioNumero}`,
      'warning'
    ).then((result) => {
  if (result.isConfirmed) {
    document.getElementById("opcion").selectedIndex = 0;
    document.getElementById("maximo").value = "";
    localStorage.removeItem("criptomonedaSeleccionada");
    localStorage.removeItem("valorMaximoSeleccionado");
    // Agrega m치s l칤neas para limpiar m치s campos de entrada si es necesario
  }
  })
  } else {
    console.log("La criptomoneda no ha superado el valor m치ximo establecido.");
  }
}

window.onload = function() {
  const criptomonedaSeleccionada = localStorage.getItem("criptomonedaSeleccionada");
  const valorMaximoSeleccionado = localStorage.getItem("valorMaximoSeleccionado");
  if (criptomonedaSeleccionada && valorMaximoSeleccionado) {
    document.getElementById("opcion").value = criptomonedaSeleccionada;
    document.getElementById("maximo").value = valorMaximoSeleccionado;
  }
}

// Llamamos a la funci칩n monitorear cada 10 segundos
monitorear();


  //VARIABLES SACADAS DEL HTML PARA USAR EN EL DOM
  const spanElements1h = document.querySelectorAll('.change-icon-1h');
  const textElements1h = document.querySelectorAll('.my-text-1h');
  const pricecripto = document.querySelectorAll('.valor');
  const spanElements7d = document.querySelectorAll('.change-icon-7d');
  const textElements7d = document.querySelectorAll('.my-text-7d');
  const tarjeta = document.querySelectorAll('.card');


//SI EN 7 DIAS EL PORCENTAJE DE AUMENTO ES +5 SE EDITA CON LO SIGUIENTE
  for (let i = 0; i < spanElements7d.length; i++) {
      const sign = spanElements7d[i].textContent.trim();
      const value = parseFloat(textElements7d[i].textContent.trim());

      if (value >= 5.00 && sign === '+') {
        tarjeta[i].innerHTML += `<p style="text-align:center;display:inline;"> 游</p>`;
        }
  }


//SI EL ICONO DE 1 HORA ES + VA VERDE SINO ROJO, EN TODAS LAS CARDS
for (let i = 0; i < spanElements1h.length; i++) {
  const sign = spanElements1h[i].textContent.trim();
  const value = parseFloat(textElements1h[i].textContent.trim());
  const price = pricecripto[i].textContent.trim();

  if (sign === '+') {
    spanElements1h[i].style.color = 'green';
    textElements1h[i].style.color = 'green';
    pricecripto[i].style.color = 'green';
  } else if (sign === '-') {
    spanElements1h[i].style.color = 'red';
    textElements1h[i].style.color = 'red';
    pricecripto[i].style.color = 'red';
  }
}

//SI EL ICONO DE 7 DIAS ES + VA VERDE SINO ROJO, EN TODAS LAS CARDS

for (let i = 0; i < spanElements7d.length; i++) {
  const sign = spanElements7d[i].textContent.trim();
  const value = parseFloat(textElements7d[i].textContent.trim());

  if (sign === '+') {
    spanElements7d[i].style.color = 'green';
    textElements7d[i].style.color = 'green';
  } else if (sign === '-') {
    spanElements7d[i].style.color = 'red';
    textElements7d[i].style.color = 'red';
  }
}

//RECARGA CADA 1 MINUTO PARA ACTUALIZAR DATOS
setInterval(function() {
  location.reload();
}, 60000);

</script>
</html>