<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #084887">
    <h1 style="text-align: center;">Las 10 cripto del momento</h1>
<ul style=" display:flex; justify-content: left; flex-wrap: wrap;">
    <% for (let i = 0; i < data.length; i++) { %>
      <li style="list-style-type: none; border: 1px solid #084887;;border-radius: 5px; margin: 12px; padding: 8px; width: 260px; background-color: #ebebeb;">
        <h2 style="text-align:center; font: bolder;"><%= data[i].name %></h2>
        <p style="margin-left: 5px;">Valor: <%= data[i].price %></p>
        <p style="margin-left: 5px;">Cambio en la última hora: <span class="change-icon-1h"><%= data[i].change_1h_icon %></span> <span class="my-text-1h"><%= data[i].change_1h %></span></p>
        <p style="margin-left: 5px;">Cambio en los últimos 7 días: <span class="change-icon-7d"><%= data[i].change_7d_icon %></span>  <span class="my-text-7d"><%= data[i].change_7d %></span></p>
      </li>
    <% } %>
  </ul>
</body>
<script>
  const spanElements1h = document.querySelectorAll('.change-icon-1h');
  const textElements1h = document.querySelectorAll('.my-text-1h');

for (let i = 0; i < spanElements1h.length; i++) {
  const sign = spanElements1h[i].textContent.trim();
  const value = parseFloat(textElements1h[i].textContent.trim());

  if (sign === '+') {
    spanElements1h[i].style.color = 'green';
    textElements1h[i].style.color = 'green';
  } else if (sign === '-') {
    spanElements1h[i].style.color = 'red';
    textElements1h[i].style.color = 'red';
  }
}

const spanElements7d = document.querySelectorAll('.change-icon-7d');
  const textElements7d = document.querySelectorAll('.my-text-7d');

for (let i = 0; i < spanElements7d.length; i++) {
  const sign = spanElements7d[i].textContent.trim();
  const value = parseFloat(textElements7d[i].textContent.trim());

  if (sign === '+') {
    spanElements7d[i].style.color = 'green';
    textElements7d[i].style.color = 'green';
  } else if (sign === '-') {
    spanElements7d[i].style.color = 'red';
    textElements7d[i].style.color = 'red';
  }
}
</script>
</html>