<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ul>
    <% for (let i = 0; i < data.length; i++) { %>
      <li style="list-style-type: none;">
        <h2><%= data[i].name %></h2>
        <p>Precio: <%= data[i].price %></p>
        <p>Cambio en la última hora: <%= data[i].change_1h_icon %> <%= data[i].change_1h %></p>
        <p>Cambio en los últimos 7 días: <%= data[i].change_7d_icon %> <%= data[i].change_7d %></p>
      </li>
    <% } %>
  </ul>
</body>
</html>