<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ul>
    <% for (let i = 0; i < data.length; i++) { %>
      <li style="list-style-type: none;">
        <h2><%= data[i].name %></h2>
        <p>Precio: <%= data[i].price %></p>
        <p>Cambio en la última hora: <span class="change-icon-1h"><%= data[i].change_1h_icon %></span> <%= data[i].change_1h %></p>
        <p>Cambio en los últimos 7 días: <span class="change-icon-7d"><%= data[i].change_7d_icon %></span> <%= data[i].change_7d %></p>
      </li>
    <% } %>
  </ul>
</body>
<script>
  const changeIcons1h = document.querySelectorAll('.change-icon-1h');

changeIcons1h.forEach((icon) => {
  if (icon.innerText === '+') {
    icon.style.color = 'green';
  } else {
    icon.style.color = 'red';
  }
});

const changeIcons7d = document.querySelectorAll('.change-icon-7d');

changeIcons7d.forEach((icon) => {
  if (icon.innerText === '+') {
    icon.style.color = 'green';
  } else {
    icon.style.color = 'red';
  }
});
</script>
</html>